body {
  background-color: lightgray;
  display: flex;
}

.nav-ribbon {
  background-color: white;
  padding: 24px;
}

.nav-ribbon nav {
  margin-right: 20px;
}

.current {
  text-decoration: underline;
}

nav li {
  list-style-type: none;
  padding: 8px 0;
}

nav a {
  text-decoration: none;
}

nav a:hover {
  font-weight: bold;
}

h1 {
  display: none;
}

.main-content {
  flex: 2;
  background-color: gray;
  padding: 24px;
  background-image: url("../images/kitten.jpg");
  background-size: auto 700px;
  background-repeat: no-repeat;
  background-position: right top;
}

.greeting-div {
  margin-top: 200px;
  padding: 12px;
  border-style: solid;
 border-radius: 2px;
 border-color: green;
 background-image: none;
}

/*img {
  position: relative;
  top: 0;
  right: 0;
}*/

footer {
  position: absolute;
  bottom: 0;
}
