body {
  background-color: rgba(255, 255, 0, 0.05);
  display: flex;
}

.nav-ribbon {
  /*background-color: white;*/
  border-right: 1px solid lightgray;
  padding: 24px;
}

.nav-ribbon nav {
  margin-right: 20px;
}

.current {
  text-decoration: underline;
}

nav li {
  list-style-type: none;
  padding: 8px 0;
}

nav a {
  text-decoration: none;
}

nav a:hover {
  font-weight: bold;
}

h1 {
  display: none;
}

.main-content {
  flex: 2;
  padding: 24px;
  background-image: url("../images/kitten.jpg");
  background-size: auto 700px;
  background-repeat: no-repeat;
  background-position: right top;
  box-shadow: 25px 25px 50px 0 white inset, -25px -25px 50px 0 white inset; 
  height: 100vh;
}

.quote {
  font-style: italic;
  font-size: 14px;
  margin-top: -10px;
}

.greeting-div {
  margin-top: 200px;
  padding: 12px;
  /*border-style: solid;
 border-radius: 2px;
 border-color: green;*/
 background-image: none;
 width: 420px;
}

/*img {
  position: relative;
  top: 0;
  right: 0;
}*/

footer {
  margin-top: 100px;
  /*position: absolute;
  bottom: 0;*/
}
