body {
  background-color: lightgray;
  display: flex;
}

.nav-ribbon {
  background-color: white;
}

nav li {
  list-style-type: none;
}

nav a {
  text-decoration: none;
}

nav a:hover {
  font-weight: bold;
}

h1 {
  display: none;
}

.main-content {
  flex: 2;
  background-color: gray;
}
